*.iml
.gradle
.gradle/
build/
/local.properties
.idea/
.fleet
/.idea/gradle.xml
/.idea/misc.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
app/proguard-rules.pro
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.keystore
/gradle/libs.versions.toml
/gradle/wrapper/gradle-wrapper.properties
build.gradle.kts
